<div class="views-group-action-style-wrapper">
  <div class="original-style-wrapper">
    {% include include_template_file %}
  </div>
  <div class="views-group-action-form">{{ group_action_form }}</div>
</div>
